@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;500;600;700;800;900&display=swap');

body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.gradient-text {
    background: linear-gradient(90deg, #092AD0 3.81%, #1A4E61 38.62%, #0EC5FF 90.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.safari-blur {
    -webkit-backdrop-filter: blur(10px)
}

.markdown-container {
    color: white;
}

.no-scroll-bar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.no-scroll-bar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
