
h1:not(.exclude-from-markdown) {
    font-size: 2.2rem;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h2:not(.exclude-from-markdown) {
    font-size: 1.7rem;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

p:not(.exclude-from-markdown) {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    padding-left: 10px;
    padding-bottom: 10px;
}


a:not(.exclude-from-markdown) {
    text-decoration: underline;
    color: #2F81F7;
}

code {
    background-color: #424242;
    padding: 2px;
    border-radius: 5px;
}

blockquote {
    border-left: 4px solid #30363D;
    color: #586069;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 16px;
}
